:root {
  background-color: #f9f5d7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.7em;
  font-family: 'EB Garamond', 'Times New Roman', serif;
  background-color: #f9f5d7;
  margin: 100px 200px;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  line-height: 1.2em;
}
body,
html {
  overflow-anchor: none;
  padding: 0 4%;
}

h1,
h2 {
  font-family: 'Fira Mono', sans-serif;
}

h1 {
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  font-weight: normal;
  text-decoration: underline;
  padding-top: 15px;
  padding-bottom: 15px;
}

.katex {
  font-size: 1em;
}

[data-a11y-footnotes-list-item]:target {
  background-color: transparent;
}

.breadcrumb {
  font-size: 1.2em;
  font-style: italic;
  font-family: 'Courier New';
}
