:root {
  background-color: #f9f5d7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.5em;
  background-color: #f9f5d7;
  margin: 100px 200px;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}
body,
html {
  overflow-anchor: none;
  padding: 0 5%;
}

h1 {
  font-weight: bold;
}

h2 {
  text-decoration: underline;
}

.katex {
  font-size: 0.95em;
}
